test.py
# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
**/.DS_Store
**/Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

**/\#*
**\_auto*

**/\#*

**/*auto*

**/\#*

**/*auto*


# Offline testing files
test.c
test.out
test.py

#plots 
plots/*

#tex
report/*
!report/*.tex
!report/*.pdf
